# Dependencies
node_modules/
details/

# Environment secrets – NEVER commit this
.env
atlas-credentials.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

desktop.ini
folderico-TA Journal.ico
folderico-TA Journal.lnk